 
.confess{  
        width: 300px;  
        overflow: hidden;  
        margin: auto; 

        margin: 20 0 0 200px;  
        border-radius: 15px ;  
          
}  
h2{  
    text-align: center;  
    color: black;

  
}  
label{  
    color: black;  
    font-size: 17px;  
}  
#Uname,#age{  
border:none;
    width: 300px;  
    height: 30px;	
    border-radius: 3px;  
    padding-left: 8px;
 	
}  
#confess{  
     border:none;
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 200px;  
    height: 30px;  
    border: none;	
    border-radius: 17px;  
    padding-left: 7px;  
    color: black;  
  
  
}  

